In [6]:
class Vehicle:
    def __init__(self):
        print("Vehicle")
    def colour(self):
        print("here is colour")
    def milage(self,a):
        self.a=a
        self.b=self.a+10
        print("here is milage")
        
class Bus(Vehicle):
    def __init__(self):
        super().__init__()
        print("Bus")
    def colour(self):
        super().colour()
        print("Red")
    def milage(self,a):
        super().milage(a)
        print("milage =",a)
        print("milage after =",self.b)
    def seat_capacity(self,c=50):
        print("Capcity",c)
        
        
school_bus=Vehicle()        
o=Bus()
o.colour()
o.milage(30)
o.seat_capacity()
o.seat_capacity(30)
print(isinstance(school_bus,Vehicle))
print(type(school_bus))

Vehicle
Vehicle
Bus
here is colour
Red
here is milage
milage = 30
milage after = 40
Capcity 50
Capcity 30
True
<class '__main__.Vehicle'>

In [15]:
a=[1,2,3]
try:
    print("second element ",a[1])
    print("fourth element ",a[3])
except:
    print("an error occurred")

second element  2
an error occurred

In [30]:
def fun(a):
    if a < 4:
        b=a/(a-3)
    print("value of b = ",b) 
try:
    fun(3)
    fun(5)
except ZeroDivisionError:
    print("a ZeroDivisionError occurred")
except NameError:
    print("a nameerror occurred")

a nameerror occurred

In [10]:

  
try: 
    raise NameError("Hi there")  
except NameError:
    print ("An exception")
    raise

An exception

NameError: Hi there

In [11]:
class Happy:
    def __init__(self):
        self.a="hi there........."
o=Happy()
try:
    print(o.a)
    print(o.b)
except AttributeError:
    print("there is no attribute")

hi there.........
there is no attribute

In [13]:
my_list={"name":"asla","id":1}
my_id=my_list['id']
print(my_id)
my_role=my_list['role']
print(my_role)

1

KeyError: 'role'

In [16]:
a=[1,2,3]
print("second element ",a[1])
print("fourth element ",a[3])

second element  2

IndexError: list index out of range

In [34]:
def error(r):
    try:
        if r < 100:
            print("interest rate is lower than 100")
    except NameError:
        print("interest rate is greater than 100")
        
        
#     error(50)
error(120)

In [26]:
def error(r):
    if r < 100:
        print("interest rate is lower than 100")
        
error(10)

interest rate is lower than 100