In [1]:
num=int(input("enter the limit:"))
f1=1
f2=0
while num>0:
    f=f1+f2
    print(f)
    f1=f2
    f2=f
    num=num-1

enter the limit:5
1
1
2
3
5

In [4]:
num=int(input("enter a number"))
s=0
temp=num
while temp!=0:
    d=temp % 10
    s=s+(d*d*d)
    temp=temp//10
if num==s:
    print("Number is armstrong")
else:
    print("Number is not armstrong")

enter a number12
Number is not armstrong

In [9]:
num=int(input("Enter a number"))
flag=0
for i in range(2,num):
    if num % i ==0:
        flag=1
        break
if num==1:
    print("number is neither a prime nor composite")
elif flag==0:
    print("Number is prime")
else:
    print("number is not prime")

Enter a number1
number is neither a prime nor composite

In [11]:
print("enter the limit")
num=int(input())
f=1
if num<0:
    print("not exist")
elif num==0:
    print("factorial is 1")
else:
    for i in range(1,num+1):
        f=f*i
    print("factorial of",num,"is",f)

enter the limit
3
factorial of 3 is 6

In [64]:
s="Aslaha"
st="abi"
d="SASD"
print(s)
print(st.capitalize())
print(d.casefold())
print(st.title())
print(st.upper())
type(s)

Aslaha
Abi
sasd
Abi
ABI

str

In [69]:
l1=["asla","eva","rashi"]
l2=[1,3,1,6,1]
l3=[5.0,6.8,7.3,5.7]
l4=["asla",5.6,7,"eva"]
l5=[]
print(l1)
print(l2[2])
print(l5)
l1.append("yuma")
print(l1)
l1.insert(2,"Rayan")
print(l1)
l1.extend(l2)
print(l1)
print(l2.count(1))
print(len(l1))
print(l1.pop(0))
print(l1.clear())
print(l1)
type(l1)

['asla', 'eva', 'rashi']
1
[]
['asla', 'eva', 'rashi', 'yuma']
['asla', 'eva', 'Rayan', 'rashi', 'yuma']
['asla', 'eva', 'Rayan', 'rashi', 'yuma', 1, 3, 1, 6, 1]
3
10
asla
None
[]

list

In [73]:
s1={"asla","eva","rashi"}
s2={1,3,6}
s3={5.0,6.8,7.3,5.7}
s4={"asla",5.6,7,"eva"}
s5=set()
print(s1)
print(s1.difference(s4))
print(s1.intersection(s4))
print(s1.union(s2))
print(s5)
s1.add("ana")
print(s1)
s1.clear()
print(s1)
type(s1)

{'rashi', 'asla', 'eva'}
{'rashi'}
{'asla', 'eva'}
{1, 3, 'asla', 'eva', 6, 'rashi'}
set()
{'rashi', 'ana', 'asla', 'eva'}
set()

set

In [59]:
t1=("asla","eva","rashi")
t2=(1,3,6,6,9,8,6,9,6)
t3=(5.0,6.8,7.3,5.7)
t4=("asla",5.6,7,"eva")
t5=()
print(t1)
print(t2[1])
print(t5)
print(t2.count(6))
print(t2.index(6))
print(t2.index(6,8))
type(t1)

('asla', 'eva', 'rashi')
3
()
4
2
8

tuple

In [34]:
d1={1:"asla",2:"rashi",3:"eva"}
d2={}
d3={"a":"aysha","b":"ball","e":"elephant"}
print(d1)
print(d1[3])
print(d3["b"])
print(d2)
type(d1)

{1: 'asla', 2: 'rashi', 3: 'eva'}
eva
ball
{}

dict