In [7]:
s1={"asla","1","rayan","12"}
s2={"farha","4","ren"}
s3={1,2,3.4}
print(s1)
print(s1.union(s2))
s1.update(s3)
print(s1)
type(s1)

{'asla', '12', '1', 'rayan'}
{'asla', '12', '1', 'rayan', 'ren', 'farha', '4'}
{'asla', '12', '1', 1, 'rayan', 2, 3.4}

set

In [13]:
def myfunction(name):
   print("hello " + name)


myfunction("asla")
myfunction("farha")

hello asla
hello farha

In [15]:
def showEmployee(name,salary=9000):
    print("name: "+ name)
    print("salary: ", salary)
showEmployee("rayan",10000)
showEmployee("abi",20000)
showEmployee("riya")

name: rayan
salary:  10000
name: abi
salary:  20000
name: riya
salary:  9000

In [20]:

def calculation(a,b):
    return a+b,a*b
s,m=calculation(4,5)
print("sum= ",s)
print("product=",m)

sum=  9
product= 20

In [25]:
def sum(l):
    s=0
    for i in l:
        s=s+i
    return s    

list=[2,4,6,8,12,1,3,7,17]
print("sum of list =",sum(list))

sum of list = 60

In [29]:
def large(l):
    max=l[0]
    for i in l:
            if i>max:
               max=i
            
    return max  

list=[2,4,6,8,12,1,3,7,17]
print("Largest of list =",large(list))

Largest of list = 17

In [32]:
def small(l):
    min=l[0]
    for i in l:
            if i<min:
               min=i
            
    return min  

list=[2,4,6,8,12,1,3,7,17]
print("smallest of list =",small(list))

smallest of list = 1

In [35]:
list=[2,4,6,8,12,1,3,7,17]
l=len(list)
if l==0:
    print("Empty list")
else:
    print("The list is not empty")

Empty list

In [38]:
list=[2,4,6,8,12,1,3,7,17]
l=list.copy()
print("copied list ",l)

copied list  [2, 4, 6, 8, 12, 1, 3, 7, 17]

In [39]:
list=[2,4,6,8,12,1,3,7,17]
l=list.index(6)
print("Index of list ",l)

Index of list  2

In [41]:
l1=[1,2,3]
l2=[4,5,6]
l1.append(l2)
print("appended list ",l1)

appended list  [1, 2, 3, [4, 5, 6]]

In [44]:
def unique(list):
    uni_list=[]
    for i in list:
        if i not in uni_list:
            uni_list.append(i)
    for i in uni_list:
        print(i)
l=[1,2,1,3,4,2,5,7,2,5,2,4,7,8,6,5]
print(unique(l))

1
2
3
4
5
7
8
6
None

In [46]:
def common(list):
    com_list=[]
    for i in list:
        if list.count(i)>1:
            if i not in com_list:
                com_list.append(i)
    for i in com_list:
        print(i)
l=[1,2,1,3,4,2,5,7,2,5,2,4,7,8,6,5]
print(common(l))

1
2
4
5
7
None

In [48]:
l1=set([1,2,3])
l2=set([2,3,4])
print(l1.intersection(l2))

{2, 3}

In [49]:
l=set([1,2,1,3,4,2,5,7,2,5,2,4,7,8,6,5])
print(l)

{1, 2, 3, 4, 5, 6, 7, 8}

In [50]:
l=[1,2,3,4,5,6,7,8,9]
for i in l:
    if i%2 != 0:
        print(i)

1
3
5
7
9

In [59]:
l=[1,2,3,4,5,6,7,8,9]
print(' '.join(str(i) for i in l))

1 2 3 4 5 6 7 8 9

str="aslahafarha"
print(list[str])

In [68]:
str="asla ha fa rha"
l=str.split()
print(l)

['asla', 'ha', 'fa', 'rha']

In [69]:
s={"as","la","fa","rha"}
for i in s:
    print(i)

rha
la
fa
as

In [72]:
s={"as","la","fa","rha"}
s.add("riya")
print(s)

{'rha', 'riya', 'la', 'as', 'fa'}

In [77]:
s={"as","la","fa","rha"}
s.remove("as")
print(s)

{'rha', 'la', 'fa'}

In [92]:
s1={"asla","eva","rashi"}
s2={"eva","rashi","aju"}
print(s1.intersection(s2))
print(s1.union(s2))
print(s1.difference(s2))
print(s1.symmetric_difference(s2))
l=s1.copy()
print("copied",l)
le=len(s1)
print(le)
s1.clear()
print(s1)

{'rashi', 'eva'}
{'rashi', 'asla', 'aju', 'eva'}
{'asla'}
{'asla', 'aju'}
copied {'rashi', 'eva', 'asla'}
3
set()

In [88]:
s1={"eva","rashi","aju","asla"}
s2={"asla","eva","rashi"}
if s2.issubset(s1):
    print("subset")
else:
    print("not subset")

subset

In [93]:
s1={"eva","rashi","aju","asla"}
s2={"asla","eva","rashi"}
if s2.isdisjoint(s1):
    print("disjoint")
else:
    print("not disjoint")

not disjoint

In [94]:
d={"key1":"asla","key2":"eva"}
print("current dictionary",d)
d["key3"]="Rashi"
print("updated dict",d)

current dictionary {'key1': 'asla', 'key2': 'eva'}
updated dict {'key1': 'asla', 'key2': 'eva', 'key3': 'Rashi'}

In [97]:
d={"1":1,"2":3,"3":6}
p=1
for i in d:
    p=p*d[i]
print(p)

18

In [2]:
li=[1,2,3,4,5,6,7,8,9,10]

li1=li[2:6]
print(li1)

[3, 4, 5, 6]